{% extends "base.html"%}
{% block title %}Security Suite{% endblock %}
{% block content %}
<div class="text-center text-primary-emphasis border border-primary bg-secondary-subtle">
    <h1>Welcome to the Small Business Security Suite</h1>
    <p class="p-3">Manage your security settings from this dashboard.</p>
</div>

<div class="row justify-content-evenly">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Grafana</h3>
                <p class="card-text">infomation about Grafana</p>
                <a href="http://localhost:3000/d/IV0hu1m7z/windows-exporter-dashboard?orgId=1&refresh=1m" 
                target="_blank"
                class="btn btn-primary">Go to Grafana</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">OpenEDR</h3>
                <p class="card-text">infomation about OpenEDR</p>
                <a href="https://enheggemyahoocom.itsm-us1.comodo.com/dashboard/widgets/overview#/dashboard/overview" 
                target="_blank"
                class="btn btn-primary">Go to OpenEDR</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
